/* roboto-regular - latin_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('fonts/roboto-v30-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('fonts/roboto-v30-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-700 - latin_cyrillic */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('fonts/roboto-v30-latin_cyrillic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('fonts/roboto-v30-latin_cyrillic-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-900 - latin_cyrillic */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: local(''),
         url('fonts/roboto-v30-latin_cyrillic-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('fonts/roboto-v30-latin_cyrillic-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

header p {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: #212121;
    margin: 0;
    padding-top: 16px;
    padding-bottom: 16px;
    text-align: center;
}

span{
    color: #2196F3;;
}
 body {
     margin: 0;
     font-family: 'Roboto',
sans-serif }

 header,
 footer {
    font-family: 'Raleway';
 }

 img {
     display: block;
     width: 100%;
 }

 .first-section {
 height: 400px;
 background-image: url(img/Header.img.jpg);
 background-position: ctnter;
 background-repeat: no-repeat;
 background-size: cover;
 padding-top: 158px;
 box-sizing: border-box;
 position: relative;
 }
 
 .first-section::before {
     content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: rgba(47, 48, 58, 0.4);
 }

 h1 {
     font-size: 26px;
     line-height: 42px;
     text-transform: uppercase;
     color: #fff;
     text-align: center;
     font-weight: 900;
     position: relative;
     z-index: 2;
 }

h2,
h3 {
    font-weight: 700;
    color: #212121;
}
h2 {
    margin: 24px 0px 4px;
   text-align: center;
    font-size: 20px;
     line-height: 30px;
}

h3 {
    margin: 24px 24px 4px;
font-size: 18px;
line-height: 36px;
}
p {
    font-size: 16px;
line-height: 30px;
color: #757575;
margin: 0 24px 20px;
}
.second-section {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 24px;
}

article {
    border: 1px solid #EEEEEE;
}

article:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
article:hover h3 {
   color: #2196F3
}

article:not(:last-child){
    margin-bottom: 30px;
}

footer {
    background-color: #2F303A;
    padding-bottom: 30px;
    padding-top: 30px;
    text-align: center
}

h4 {
    display: inline;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 13px;
    color: #fff
    
}

h4 span {
    color: #2196F3;
}

hr {
    background: #2196F3;
    width: 100px;
    height: 2px;
    margin: 0 auto 31px;
    border: none;
}

.second-section {
    transition: background-color 1s, color 1s
}

.second-section:hover {
    color: #2196F3;
    transition: 1s;
    box-shadow: #757575;
}

a[href] {
    display: block;
}

a[href],
address {
    font-style: normal;
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
    margin-top: 10px;
    text-decoration: none;
    font-family: 'Roboto';
}


